doctype html
html
    head
        title= title

        link(rel='stylesheet', href='../stylesheets/style.css')


        body

            block content
                h1= title
                p Welcome to #{title}
                h3  #{json.categoryName}

            ul
                //7etta dola fash5
                -var tmp = 'https://thenewboston.com/videos_food.php?';
                -for (var i = 0; i <  Object.keys(json.categories).length ; i++)
                    li
                        a(href= tmp + json.categories[Object.keys(json.categories)[i]].categoryID) #{json.categories[Object.keys(json.categories)[i]].categoryDescription}


